PNPController/board.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pcbboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ComponentList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Component">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="RefDes"/>
                    <xs:element type="xs:string" name="Type"/>
                    <xs:element type="xs:string" name="Value"/>
                    <xs:element type="xs:double" name="PosX"/>
                    <xs:element type="xs:double" name="PosY"/>
                    <xs:element type="xs:double" name="Rotate"/>
                    <xs:element type="xs:int" name="feederNumber"/>
                    <xs:element type="xs:int" name="ComponentCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BoardDefaults">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Settings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:double" name="BoardOffsetX"/>
                    <xs:element type="xs:double" name="BoardOffsetY"/>
                    <xs:element type="xs:int" name="FeedRate"/>
                    <xs:element type="xs:double" name="PCBThickness"/>
                    <xs:element type="xs:int" name="chipfeederms"/>
                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

