GCodeGen/GCodeGen/feeders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feederlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="feeder">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="feederNumber" type="xs:unsignedByte" />
              <xs:element name="feederValue" type="xs:string" />
              <xs:element name="PosX" type="xs:decimal" />
              <xs:element name="PosY" type="xs:decimal" />
              <xs:element name="PosZ" type="xs:decimal" />
              <xs:element name="ComponentHeight" type="xs:decimal" />
              <xs:element name="VerifywithCamera" type="xs:boolean" />
              <xs:element name="FeederActivationCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>